* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}
body {
  background-color: #000;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
header {
  width: 100%;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul{
  list-style-type: none;
}
header h1{
  color: rgb(84, 243, 52);
  font-size: 3rem;
}
form{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
form input{
  padding: 10px;
  font-size: 1rem;
  color: rgb(30, 31, 30);
  border: 1px solid rgb(84, 243, 52);
}
form input:focus,
form input:valid{
  outline: none;
}
.todo-button{
  padding: 10px;
  border: 1px solid rgb(84, 243, 52);
  background: rgb(84, 243, 52);
  transition: all .3s ease-in-out;
}
.todo-button:hover{
  background: rgb(79, 77, 241);
  border: 1px solid rgb(79, 77, 241);
}
.todo-button .plus-square{
  color: #fff;
  font-size: 1rem;
}
.select{
  position: relative;
}
.select .filter-todo{
  padding: 10px;
  font-size: 1rem;
  outline: none;
  margin-left: 1rem;
  width: 195px;
}
.select::after{
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background: #ff6f47;
  pointer-events: none;
  padding: 10px;
  font-size: 1rem;
}
.todo-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-container .todo-list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 0;
}
.todo{
  display: flex;
  margin-bottom: .5rem;
}
.todo .todo-item{
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  border: 1px solid #fff;
  min-width: 155px;
}
.completed{
 text-decoration: line-through;
 opacity: .5;
}
.todo .complete-btn,
.todo .delete-btn{
  border: none;
  padding: .5rem;
  font-weight: bold;
}
.todo .complete-btn:focus,
.todo .delete-btn:focus{
  border: none;
  outline: none;
}
.todo .complete-btn{
  background: rgb(84, 243, 52);
}
.todo .delete-btn{
  background: rgb(248, 60, 60);
}
