* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}
body {
  background-color: #000;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
header {
  width: 100%;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1{
  color: rgb(84, 243, 52);
  font-size: 3rem;
}
form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
form input{
  padding: 10px;
  font-size: 1rem;
  color: rgb(30, 31, 30);
  border: 1px solid rgb(84, 243, 52);
}
form input:focus,
form input:valid{
  outline: none;
}
.todo-button{
  padding: 10px;
  border: 1px solid rgb(84, 243, 52);
  background: rgb(84, 243, 52);
}
.todo-button .plus-square{
  color: #fff;
  font-size: 1rem;
}